name: profiling-online-endpoints
on:
  workflow_dispatch:
    inputs:
      SKU_LIST:
        description: 'Define the list of skus in the format of [Standard_F2s_v2, Standard_F4s_v2]'     
        required: true
        default: '[Standard_F2s_v2, Standard_F4s_v2]'
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        deployment_computer_size: ${{ fromJson(github.event.inputs.SKU_LIST) }}
    steps:
    - name: check out repo
      uses: actions/checkout@v2
    - name: azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}
    - name: install dependencies
      run: |
          az extension add -n ml -y
          sudo apt-get update -y && sudo apt-get install jq
    - name: setup
      run: |
          az config set defaults.workspace=${{secrets.AML_WORKSPACE}}
          az config set defaults.group=${{secrets.RESOURCE_GROUP}}          
          az account set -s ${{secrets.SUBSCRIPTION_ID}}
    - name: run job
      run: bash -x profiling/how-to-profile-online-endpoint.sh
      env:
        DEPLOYMENT_COMPUTER_SIZE: ${{matrix.deployment_computer_size}}
      working-directory: code
    